{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-3">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% if form.errors %}
                    {{ form.errors }}
                {% endif %}
                <div class="form-group">
                    <label for="{{ form.image_file.id_for_label }}">{{ form.image_file.label }}</label>
                    <input type="file" class="form-control-file" id="{{ form.image_file.id_for_label }}"
                           name="{{ form.image_file.html_name }}">
                </div>

                <div class="form-group">
                    <label for="{{ form.min_confidence.id_for_label }}">{{ form.min_confidence.label }}
                        <span id="minConfidenceDisplay" class="badge badge-primary">0.9</span>
                    </label>
                    <input type="range" class="form-control-range" id="{{ form.min_confidence.id_for_label }}"
                           name="{{ form.min_confidence.html_name }}" min="0" max="100"
                           value="{{ form.min_confidence.value }}">
                </div>
                <button class="btn btn-primary float-right">Annotate</button>
            </form>
        </div>

        <div class="col-md-9">
            <ul class="nav nav-tabs" id="result-tabs" role="tablist">
                {% for resultset in results %}
                    <li class="nav-item">
                        <a class="nav-link {% if forloop.counter == 1 %}active{% endif %}"
                           id="{{ resultset.name }}-tab"
                           data-toggle="tab"
                           href="#{{ resultset.name }}-container" role="tab">
                            {{ resultset.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>


            <div class="tab-content" id="result-tab-containers">
                {% for resultset in results %}
                    <div class="tab-pane fade {% if forloop.counter == 1 %}show active{% endif %}"
                         id="{{ resultset.name }}-container" role="tabpanel">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9">
                                    <img class="img-thumbnail" src="{{ resultset.visualization }}">
                                </div>
                                <div class="col-md-3">
                                    {% for annotation in resultset.annotations %}
                                        <div class="media">
                                            <img class="mr-3 img-thumbnail" src="{{ annotation.crop_href }}"
                                                 alt="{{ annotation.label.name }}">
                                            <div class="media-body">
                                                <h5 class="mt-0">{{ annotation.label.name }}</h5>
                                                Score: {{ annotation.score }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_javascript %}
    <script>
        var slider = document.getElementById("{{ form.min_confidence.id_for_label }}");
        var output = document.getElementById("minConfidenceDisplay");
        output.innerHTML = parseFloat(slider.value) / 100.; // Display the default slider value

        // Update the current slider value (each time you drag the slider handle)
        slider.oninput = function () {
            output.innerHTML = parseFloat(this.value) / 100.;
        }
    </script>
{% endblock extra_javascript %}